.navbar {
  grid-area: navbar;
}

.main {
  grid-area: main;
}

.sidebar {
  grid-area: sidebar;
}

.footer {
  grid-area: footer;
}

.container {
  align-items: center;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "navbar navbar navbar navbar"
                       "main main . sidebar"
                       ". footer footer ."
}